/* GLOBAL SETTINGS */

html {
    height: 100vh;
}

/* LAYOUT */

.container {
    max-width: 50%;  
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: rgb(47, 47, 47);
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 10em;
    height: 4em;
}

.social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: -3rem;
    margin-right: 1rem;
}

.social a {
    margin: 0.5rem;
}

.social i:hover {
    color:sienna;
}

.fa-linkedin-in {
    font-size: 2rem;
    color:sandybrown;
}

.fa-twitter {
    font-size: 2rem;
    color:sandybrown;
}
.fa-github {
    font-size: 2rem;
    color:sandybrown;
}

/* NAVIGATION BAR */

.navbar {
    background-color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.navlist {
    display: flex;
    flex-grow: 1;
    background-color: sandybrown;
    margin-right: 0.1rem;
    height: 2rem;
}

.navlink {
    flex-grow: 1;
    font-size: 1.2em;
    text-decoration: none;
    color: sienna;
    text-align: center;
    margin-top: 0.3rem;
}

.navlink:hover {
    color: rgb(73, 20, 20);
}

/* HIGHLIGHTS SECTION */

.highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
}

.highlighted-article {
    flex-grow: 1;
    color:rgba(1, 1, 1, 0);
    background-color: rgb(151, 151, 151);
    margin-right: 0.1rem;
    height: 12rem;
}

/* MAIN SECTION */

.main-section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(151, 151, 151);
    color: rgba(1, 1, 1, 0);
    height: 35rem;
    margin-bottom: 1rem;
}

.main-articles-container {
    background-color: rgb(61, 61, 61);
    color: rgba(1, 1, 1, 0);
    height: 35rem;
    width: 60%;
}  

/* FOOTER */

footer {
    background-color: rgb(47, 47, 47);
    color: rgba(1, 1, 1, 0);
    height: 3rem;
}