/* GLOBAL SETTINGS */

html, body {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* LAYOUT */

.container {
    max-width: 50%;  
    margin: 0 auto;
}

/* HEADER */

header {
    background-image: url("../imgs/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 10em;
    height: 4em;
}

.social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: -3rem;
    margin-right: 1rem;
}

.social a {
    margin: 0.5rem;
}

.social i:hover {
    color:sienna;
}

.fa-linkedin-in {
    font-size: 2rem;
    color:sandybrown;
}

.fa-twitter {
    font-size: 2rem;
    color:sandybrown;
}
.fa-github {
    font-size: 2rem;
    color:sandybrown;
}

/* NAVIGATION BAR */

.navbar {
    background-color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.navlist {
    display: flex;
    flex-grow: 1;
    background-color: sandybrown;
    margin-right: 0.1rem;
    height: 2rem;
}

.navlink {
    flex-grow: 1;
    font-size: 1.2em;
    text-decoration: none;
    color: sienna;
    text-align: center;
    margin-top: 0.3rem;
}

.navlink:hover {
    color: rgb(73, 20, 20);
}

/* HIGHLIGHTS SECTION */

.highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
}

.highlighted-article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    color:rgba(1, 1, 1, 0);
    background-color: rgb(151, 151, 151);
    background-image: url("../imgs/highlights-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    margin-right: 0.1rem;
    height: 12rem;
}

.title {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
}

.more {
    align-self: center;
    width: 5rem;
    height: 1.5rem;
    margin-bottom: 3rem;
}

.more:hover {
    cursor: pointer;
    background-color: chocolate;
}

/* MAIN SECTION */

.main-section {
    display: flex;
    justify-content: space-evenly;
    background-color: sandybrown;
    opacity: 0.8;
    color: rgba(1, 1, 1, 0);
    margin-bottom: 1rem;
}

.main-articles-container {
    background-color: sienna;
    opacity: 0.8;
    color: rgba(1, 1, 1, 0);
    height: inherit;
    width: 60%;
}  

.article-content {
    margin: -0.4rem 1rem;
}

.article-content img {
    float: left;
    margin-right: 0.8rem;
}

.article-title {
    font-weight: 800;
    color:white;
    font-family: "Oswald", sans-serif;
}

.article-brief {
    color: white;
}

/* FOOTER */

footer {
    background-color: sienna;
    color: rgba(1, 1, 1, 0);
    height: 3rem;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.footer-link {
    text-decoration: none;
    color: white;
    padding: 2rem;
    margin-top: -1rem;
}

.footer-link:hover {
    color:rgb(255, 228, 152);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1700px) {
    .container {
        max-width: 55%;  
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1520px) {
    .container {
        max-width: 65%;  
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        max-width: 75%;  
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        max-width: 85%;  
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        max-width: 95%;  
        margin: 0 auto;
    }
}

@media only screen and (max-width: 880px) {
    .container {
        max-width: 100%;  
        margin: 0 auto;
    }

    .article-content img {
        float: none;
        margin: 1rem, 0.2rem;
        padding-top: 1rem;
        width: 100%;
    }

    .highlights {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 600px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    .main-articles-container {
        background-color: sienna;
        opacity: 0.8;
        color: rgba(1, 1, 1, 0);
        height: inherit;
        width: 100%;
    }  
}