html{
    height: 100vh;
}

body {
    max-width: 50%;  
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 0.5rem;
    
}

header {
    grid-column: 1 / 16;
    grid-row: 1 / 2;
    background-color: rgb(47, 47, 47);

}